<div class="content-inner active profile">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Dashboard</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="ti ti-home"></i></a></li>

                            <li class="breadcrumb-item"><a href="/admin"><i class="ti ti-folder"></i></a></li>

                            <li class="breadcrumb-item active">Posts</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-row">
            <%- include('./../common/dashboard-widget.ejs') %>
            <div class="col-xl-9">
                <div class="widget widget-07 has-shadow">
                    <% if(typeof flash !== 'undefined' && flash.length > 0){ %>

                    <%- include('./../../layouts/blocks/flash-message.ejs', {className: flash[0].className, msg: flash[0].message}) %>
                    <% } %>
                    <div class="widget-header bordered d-flex align-items-center">
                        <h2>Posts Overview</h2>
                        <div class="widget-options">
                            <div class="btn-group" role="group">

                                <a href="/admin/posts/add">
                                    <button type="button" class="btn btn-gradient-04 mr-1 mb-2">
                                        <i class="la la-newspaper-o la-2x"></i>
                                        <i class="la la-plus la-2x"></i>
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="table-responsive">
                            <table id="sorting-table" class="table mb-0 posts-datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Release Date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% posts.forEach(post => { %>
                                    <tr>
                                        <td><span class='text-primary'> <%= post.id %> </span></td>
                                        <td><span class="text-primary"> <%= post.title.substring(0,60) %>
                                                <%= post.title.length >= 60 ? '...' : ''%> </span></td>
                                        <% if(post.isPremium == false){ %>
                                        <td><span class="text-primary"> normal </span></td>
                                        <% }else { %>
                                        <td><span class="text-primary"> premium </span></td>
                                        <% } %>

                                        <td><span class='text-primary'> <%= post.status %> </span></td>

                                        <% if(post.releaseDate == null){ %>
                                        <td><span class="text-primary"> not set </span></td>
                                        <% }else { %>
                                        <td><span class="text-primary"> <%= post.releaseDate.toDateString() %> </span>
                                        </td>
                                        <% } %>
                                        <td class="td-actions text-right">
                                            <!-- <% if(post.status === 'verified'){%>
                                            <a href="/admin/posts/publish/<%= post.id %>">
                                                <i class="la la-check-square verify admin-verify-post"></i>
                                            </a>
                                            <% } %> -->
                                            <% if(post.status === 'pending' || post.status === 'rejected'){%>
                                                <a href="/admin/posts/verify/<%= post.slug %>">
                                                    <i class="la la-check-square verify "></i>
                                                </a>
                                            <a href="/admin/posts/edit/<%= post.slug %>">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <% } %>

                                            <a href="/admin/posts/delete/<%= post.id %>">
                                                <i class="la la-close delete admin-delete-post"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="widget-footer d-flex align-items-center">
                        <div class="mr-auto p-2">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>