<% 
    var allSubCates = [];
    allCategories.forEach(cate => {
        var parentName = cate.name;
        var parentSlug = cate.slug;
        cate.SubCategories.forEach(subCate => {
            subCate.parentName = parentName;
            subCate.parentSlug = parentSlug;
            allSubCates = allSubCates.concat(subCate);
        });
    });



%>


<div class="container p-5">
    <h1>Báo điện tử Elisyam</h1>
    <br>
    <h2>Elisyam là trang báo điện tử được thành lập nhằm cung cấp những tin tức thời sự giải trí cho mọi người. </h2>
    <br>
    <h2>Với đội ngũ đông đảo và nhiệt tình, Elisyam hứa hẹn sẽ cung cấp những tin tức đúng và tốt nhất trong thời gian
        sớm nhất. </h2>
    <br>
    <h2>Dưới đây là những chủ đề Elisyam đang hoạt động: </h2>
    <div class="row mt-5">

        <% allSubCates.forEach(subcate => { %>
        <div class="col-xl-4 col-md-6 col-sm-12 text-center mb-5">
            
            
            <a href="/posts/<%= subcate.parentSlug %>/1"><%= subcate.parentName %></a>
            /
            <a href="/posts/<%= subcate.parentSlug %>/<%= subcate.slug %>/1"><%= subcate.name %></a>
            <br>
            <img src="/assets/img/posts/<%= subcate.slug %>.jpeg" class="about-thumbnail mt-2" alt="">
        </div>
        <% }); %>

    </div>
</div>