<div class="footer-bg mt-4">
    <div class="container pt-5 pb-4 ">
        <div class="row">
            <div class="col-md-4">
                <h3 class="default-text-color mb-4">LIÊN HỆ</h3>
                <h5></h5>
                <h5 class="default-text-color">Báo điện tử Elisyam </h5>
                <h5 class="default-text-color">Địa chỉ: 227 Nguyễn Văn Cừ P3 Q5</h5>
                <h5 class="default-text-color">SĐT: +(0123) 45678</h5>
                <h5 class="default-text-color">Email: ElisyamVietnamNews@alibaba.com.vn</h5>
                <h5 class="default-text-color font-italic">
                    Mọi hành động sử dụng nội dung đăng tải trên Báo điện tử Elisyam phải
                    có sự đồng ý bằng văn bản của Báo điện tử Elisyam.
                </h5>

            </div>
            <div class="col-md-5">
                <div class="row">
                    <% allCategories.forEach(cate => { %>
                    <div class="col-md-4">
                        <h3 class="default-text-color mb-4">
                            <a class="default-text-color" href="/posts/<%= cate.slug %>/1">
                                <%= cate.name %>
                            </a>

                        </h3>
                        <% cate.SubCategories.forEach(subcate => { %>
                        <h5 class="default-text-color">
                            <a class="default-text-color" href="/posts/<%= cate.slug %>/<%= subcate.slug %>/1">
                                <%= subcate.name %>
                            </a>
                        </h5>
                        <% }) %>
                    </div>
                    <% }) %>
                    <div class="form-group col-md-11 mt-4">
                        <form method="GET" action="/posts/search">
                            <div class="input-group">
                                <span class="input-group-addon addon-primary">
                                    <i class="ti ti-search mt-1"></i>
                                </span>
                                <input name="page" value="1" type="hidden" />
                                <input name="text" type="text" placeholder="Tìm kiếm..." class="form-control">
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <h2 class="default-text-color mb-4"><a class="default-text-color" href="/index">Elisyam</a></h2>
                <h4 class="default-text-color">Thiết kế bởi Elisyam aka Saerox</h4>
                <h4 class="default-text-color">themeforest</h4>

            </div>
        </div>
        <h5 class="default-text-color font-italic text-center">Copy right @2019 by ElisyamVietnamNews</h5>
    </div>

</div>