<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="search-box">
                <button class="dismiss"><i class="ion-close-round"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="Search something ..." class="form-control">
                </form>
            </div>
            <div class="navbar-holder d-flex align-items-center align-middle justify-content-between horizontal-menu">
                <!-- Begin Logo -->
                <div class="navbar-header">
                    <a href="db-modern.html" class="navbar-brand">
                        <div class="brand-image brand-big">
                            <img src="/assets/img/logo.png" alt="logo" style="width: 70px;" class="logo-big">
                        </div>
                        <div class="brand-image brand-small">
                            <img src="/assets/img/logo.png" alt="logo" class="logo-small">
                        </div>
                    </a>
                </div>
                <nav class="navbar navbar-light navbar-expand-lg main-menu">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li><a href="/index">Trang chủ</a></li>
                            <li><a href="/about">Giới thiệu</a></li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="components" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Chuyên mục</a>
                                <ul class="dropdown-menu" aria-labelledby="components">
                                    <% allCategories.forEach(cate => { %>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" id="elements" href="/posts/<%= cate.slug + '/1' %>"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true">
                                            <%= cate.name %>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="elements">
                                            <% cate.SubCategories.forEach(subcate => { %>
                                            <li>
                                                <a href="/posts/<%= cate.slug + '/' + subcate.slug + '/1' %>">
                                                    <%= subcate.name %>
                                                </a>
                                            </li>
                                            <% }) %>
                                        </ul>
                                    </li>
                                    <% }) %>
                                </ul>
                            </li>
                            <li><a href="maps-leaflet.html">Contact</a></li>
                        </ul>

                        <% if(!_locals.isLoggedIn){ %>
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <form class="input-group search-form">
                                    <input type="text" placeholder="Tìm kiếm..." class="form-control search-input">
                                    <span class="input-group-addon addon-primary bg-none">
                                        <i class="ti ti-search mt-1" data-toggle="false"></i>
                                    </span>
                                </form>
                            </li>
                            <li><a href="/users/register">Đăng ký</a></li>
                            <li><a href="/users/login">Đăng nhập</a></li>
                        </ul>
                        <% }else{ %>
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <form class="input-group search-form">
                                    <input type="text" placeholder="Tìm kiếm..." class="form-control search-input">
                                    <span class="input-group-addon addon-primary bg-none">
                                        <i class="ti ti-search mt-1" data-toggle="false"></i>
                                    </span>
                                </form>
                            </li>
                            <li><a href="/users/profile/<%= _locals.user.id %>">Hồ sơ</a></li>
                            <li><a href="/users/logout">Đăng xuất</a></li>
                        </ul>
                        <% } %>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
</header>