
    <!-- Begin Container -->
    <div class="container-fluid no-padding h-100">
        <div class="row flex-row h-100 bg-white">
            <!-- Begin Left Content -->
            <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 col-12 no-padding">
                <div class="elisyam-bg background-03">
                    <div class="elisyam-overlay overlay-08"></div>
                    <div class="authentication-col-content-2 mx-auto text-center">
                        <div class="logo-centered">
                            <a href="db-default.html">
                                <img src="/assets/img/logo.png" alt="logo">
                            </a>
                        </div>
                        <h1>Join Our Community</h1>
                        <span class="description">
                            Etiam consequat urna at magna bibendum, in tempor arcu fermentum vitae mi massa egestas. 
                        </span>
                        <ul class="login-nav nav nav-tabs mt-5 justify-content-center" role="tablist" id="animate-tab">
                                <li><a class="<% if(active == 'register'){ %>
                                    <%= 'active' %>
                                    <% } %>
                                    " data-toggle="tab" href="#signup" role="tab" id="signup-tab" data-easein="zoomInRight">Sign Up</a></li>
                            <li><a class="
                                <% if(active == 'login'){ %>
                                    <%= 'active' %>
                                    <% } %>
                                " data-toggle="tab" href="#singin" role="tab" id="singin-tab" data-easein="zoomInUp">Sign In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Left Content -->
            <!-- Begin Right Content -->
            <div class="col-xl-9 col-lg-7 col-md-7 col-sm-12 col-12 my-auto no-padding">
                <!-- Begin Form -->
                
                <div class="authentication-form-2 mx-auto">
                        <% if (typeof errors !== 'undefined') { %>
                            <% console.log(errors); %>
                            <% errors.forEach(function(error){ %>
                                <%- include('../layouts/blocks/flash-message.ejs', {error: error.message}) %>
                            <% }); %>
                        <% } %>
                     <div class="tab-content" id="animate-tab-content">
                        <!-- Begin Sign In -->
                        <div role="tabpanel" class="tab-pane <% if(active == 'login'){ %>
                                <%= 'active' %>
                                <% } %>" id="singin" aria-labelledby="singin-tab">
                            <h3>Sign In To Elisyam</h3>
                            <form action="/users/login" method="POST">
                                <div class="group material-input">
                                    <input type="text" name='email' required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email</label>
                                </div>
                                <div class="group material-input">
                                    <input type="password" name="password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password</label>
                                </div>

                                <div class="sign-btn text-center">
                                        <!-- <a href="db-default.html" class="btn btn-lg btn-gradient-01">
                                            Sign In
                                        </a> -->
                                        <input type="submit" value="Sign In" class="btn btn-lg btn-gradient-01">
                                    </div>
                            </form>
                            <div class="row">
                                <!-- <div class="col text-left">
                                    <div class="styled-checkbox">
                                        <input type="checkbox" name="checkbox" id="remeber">
                                        <label for="remeber">Remember me</label>
                                    </div>
                                </div> -->
                                <div class="col ">
                                    <a href="pages-forgot-password.html">Forgot Password ?</a>
                                </div>
                            </div>
                            
                        </div>
                        <!-- End Sign In -->
                        <!-- Begin Sign Up -->
                        <div role="tabpanel" class="tab-pane show <% if(active == 'register'){ %>
                                <%= 'active' %>
                                <% } %>" id="signup" aria-labelledby="signup-tab">
                            <h3>Create An Account</h3>
                            <form action="/users/register" method="POST">
                                

                                <div class="group material-input">
                                    <input type="text"  name="email" value="<%= typeof email != 'undefined' ? email : '' %>" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email</label>
                                </div>
                                <div class="group material-input" >
                                    <input type="password" name="password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password</label>
                                </div>
                                <div class="group material-input" >
                                    <input type="password" name="repassword" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Confirm Password</label>
                                </div>
                                <div class="form-group row mb-5">
                                    <label class="col-lg-3 mt-3 form-control-label text-center">Register as:</label>
                                    <div class="col-lg-9 select mb-3">
                                        <select name="type" class="custom-select form-control">
                                            <option value='sub'>Subscriber</option>
                                            <option value='writer'>Writer</option>  
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="sign-btn text-center">
                                        <!-- <a href="db-default.html" class="btn btn-lg btn-gradient-01">
                                            Sign Up
                                        </a> -->
                                        <input type="submit" class="btn btn-lg btn-gradient-01" value="Sign up">
                                    </div>
                            </form>
                            <!-- <div class="row">
                                <div class="col text-left">
                                    <div class="styled-checkbox">
                                        <input type="checkbox" name="checkbox" id="agree">
                                        <label for="agree">I Accept <a href="#">Terms and Conditions</a></label>
                                    </div>
                                </div>
                            </div> -->
                            
                        </div>
                        <!-- End Sign Up -->
                    </div>
                </div>
                <!-- End Form -->                        
            </div>
            <!-- End Right Content -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->  
