<% 
var today = new Date();
var day = today.getDay() === 7 ? 'Chủ nhật' : 'Thứ ' + parseInt(today.getDay() + 1);
var date = today.getDate();
var month = today.getMonth() + 1;
var year = today.getFullYear();
today = `${day}, ngày ${date}, tháng ${month}, năm ${year}`;
%>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xl-8">
                    <div class="row">
                        <h3 class="mt-3 p-0 col-xl-12 col-md-12 ">
                            <a href="/posts/<%= post.MainCategory.slug %>/1">
                                <%= post.MainCategory.name %>
                            </a>
                            <span class="text-primary">/</span>
                            <a href="/posts/<%= post.MainCategory.slug %>/<%= post.SubCategory.slug%>/1">
                                <%= post.SubCategory.name  %>
                            </a>
                        </h3>
                        <h1 class="page-header-title text-pink mb-2"><%= post.title %></h1>

                        <div class="col-xl-12 col-md-12 p-0 m-0 ">
                            <% post.Tags.forEach(t => { %>
                            <a href="/posts/tags/<%= t.slug %>/1"
                                class="btn btn-sm btn-square mr-1 mb-2 btn-tag-style"><%= t.name %></a>
                            <% }); %>
                        </div>

                        <div class="col-xl-6 col-md-6 p-0">
                            <% var releaseDate = post.releaseDate.getDate() + '/'  + parseInt( post.releaseDate.getMonth()+1)  + '/' +  post.releaseDate.getFullYear() %>

                            <button type="button" data-toggle="modal" data-target="#modal-large"
                                class="float-left post-detail-thumbnail-btn">
                                <img class="post-detail-thumbnail" src="/assets/img/posts/<%= post.thumbnail %>" />
                            </button>
                            <div class="mt-2">Ngày đăng: <span class="text-dark"><%= releaseDate %></span> </div>
                            <div class="">Lượt xem: <span class="text-dark"><%= post.views %></span> </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <% if(isPremium){ %>
                            <div class="widget has-shadow">
                                <div class="widget-body">
                                    <div class="form-group">
                                        <a target="_blank" href="/posts/exports/<%= post.slug %>"><button type="button"
                                                class="btn btn-gradient-03 mr-1 mb-2">Download bài viết</button></a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>

                        <h4 class="mt-3 font-weight-bold mb-2"><%= post.shortContent %></h4>
                        <div class="col-xl-12 text-dark p-0 m-0  post-detail" id="post-detail" style="display:block;">
                            <%- post.content %>
                        </div>
                        <div class="ml-auto font-italic">Đăng bởi <span class="text-pink"><%= post.User.email %></span>
                        </div>
                        <br>
                        <div class="col-md-12 col-xl-12 col-sm-12">
                            <hr>
                        </div>
                        <div class=" m-0 p-0 col-md-12 form-group">
                            <% if(typeof user !== 'undefined'){ %>
                            <h3 class="font-weight-bold text-secondary" for="">Viết bình luận</h3>
                            <input type="hidden" id="post-id" value="<%= post.id %>" />
                            <textarea id="comment-box" type="text" class="form-control custom-border"
                                placeholder="Viết bình luận"></textarea>
                            <button class="mt-2 comment-btn btn btn-gradient-01">Gửi bình luận</button>
                            <% }else{%>
                            <a href="/users/login" class="mt-2 btn btn-block btn-success">Đăng nhập để bình luận !</a>
                            <% } %>

                        </div>

                        <h2 class="m-0 p-0 col-md-12 col-xl-12 mt-3 text-dark mb-2 font-weight-bold">
                            Danh sách bình luận
                        </h2>
                        <div class="m-0 p-0 col-md-12 col-xl-12 comment-wrapper" data-offset="1">
                            <% if(post.Comments.length <= 0){ %>
                            <p class="comment-status">Hãy trở thành người đầu tiên bình luận !!!</p>
                            <% } %>
                            <% post.Comments.forEach(comment => { %>
                            <% commentDate = comment.commentDate.getDate() + '/'  + parseInt( comment.commentDate.getMonth()+1)  + '/' +  comment.commentDate.getFullYear() %>
                            <div class="comment mb-4 ml-1">
                                <p class="m-0 ">
                                    <span class="text-secondary font-weight-bold"><%= comment.User.username %></span>
                                    <span class="text-gray font-italic ml-2"><%= commentDate %></span>
                                </p>
                                <p class="m-0 content comment-content text-dark">
                                    <%= comment.commentContent.substring(0,240) %>
                                    <% if(comment.commentContent.length >= 240){ %>
                                    <a class="m-0 p-0 ml-1 font-italic text-info seemore-btn" href='/#'>...xem thêm</a>
                                    <% } %>
                                </p>
                                <p class="full-comment" style="display:none;"><%= comment.commentContent %></p>
                            </div>
                            <% }); %>
                        </div>
                        <div class="m-0 btn-area p-0 col-md-12 col-xl-12">
                            <% if(post.Comments.length > 0){%>
                            <button type="button"
                                class="btn btn-block  btn-gradient-01 load-more-comment-btn custom-btn">Tải thêm bình
                                luận</button>
                            <% } %>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-12">
                    <div class="row">

                        <div class="col-xl-12 col-md-12 col-sm-12 mb-3 pt-4 ">
                            <p class="col-xl-12 col-md-12 col-sm-12 p-0 font-italic float-left text-dark">
                                <%= today %>
                            </p>
                            <h2 class="col-xl-12 col-md-12 col-sm-12 m-0 p-0 mb-3 mt-5 pt-1">Mới cập nhật</h2>
                            <div class="row">
                                <% for(var i=0;i < latestPosts.length ;i++){ %>
                                <div class="col-xl-12 col-md-3 col-sm-4">
                                    <div class="row">
                                        <div class="col-xl-3 col-md-12 col-md-12 mb-3">
                                            <div class="bottom-right-thumbmail float-left">
                                                <% if(latestPosts[i].isPremium){ %><i
                                                    class="ion-pricetag price-tag-icon small-pricetag"></i></i>
                                                <% } %>
                                                <img src="/assets/img/posts/<%= latestPosts[i].thumbnail %>" alt="..."
                                                    class="bottom-right-thumbmail float-left">
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-md-12 col-sm-12 mb-3">
                                            <a href="/posts/detail/<%= latestPosts[i].slug %>">
                                                <div class="text-default-color font-weight-bold">
                                                    <%= latestPosts[i].title.length >= 50
                                                                 ?  latestPosts[i].title.substring(0,50) + '...'
                                                                 :  latestPosts[i].title
                                                                 %>
                                                </div>
                                            </a>

                                            <div class="text-gray small-text">

                                                <a class="text-gray"
                                                    href="/posts/<%= latestPosts[i].MainCategory.slug %>/<%= latestPosts[i].SubCategory.slug %>/1"><%=  latestPosts[i].SubCategory.name %></a>
                                                &nbsp;
                                                <%= parseVIDate(latestPosts[i].releaseDate) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-3 mt-3">
                            <h2 class="col-xl-12 col-md-12 col-sm-12m-0 p-0 mb-3">Tin tức nổi bật</h2>
                            <div class="row">
                                <% for(var i=0;i < mostViewsPosts.length ;i++){ %>
                                <div class="col-xl-12 col-md-3 col-sm-4">
                                    <div class="row">
                                        <div class="col-xl-3 col-md-12 col-md-12 mb-3">
                                            <div class="bottom-right-thumbmail float-left">
                                                <% if(mostViewsPosts[i].isPremium){ %><i
                                                    class="ion-pricetag price-tag-icon small-pricetag"></i></i>
                                                <% } %>
                                                <img src="/assets/img/posts/<%= mostViewsPosts[i].thumbnail %>"
                                                    alt="..." class="bottom-right-thumbmail float-left">
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-md-12 col-sm-12 mb-3">
                                            <a href="/posts/detail/<%=  mostViewsPosts[i].slug %>">
                                                <div class="text-default-color font-weight-bold">
                                                    <%=  mostViewsPosts[i].title.length >= 50
                                                                     ?   mostViewsPosts[i].title.substring(0,50) + '...'
                                                                     :   mostViewsPosts[i].title
                                                                     %>
                                                </div>
                                            </a>

                                            <div class="text-gray small-text">

                                                <a class="text-gray"
                                                    href="/posts/<%=  mostViewsPosts[i].MainCategory.slug %>/<%=  mostViewsPosts[i].SubCategory.slug %>/1"><%=   mostViewsPosts[i].SubCategory.name %></a>
                                                &nbsp;
                                                <%= parseVIDate( mostViewsPosts[i].releaseDate) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<!-- <div class="container mb-5">
    <div class="row">
        <div class=" m-0 p-0 col-md-8 form-group">
            <% if(typeof user !== 'undefined'){ %>
            <h3 class="font-weight-bold text-secondary" for="">Viết bình luận</h3>
            <input type="hidden" id="post-id" value="<%= post.id %>" />
            <textarea id="comment-box" type="text" class="form-control custom-border"
                placeholder="Viết bình luận"></textarea>
            <button class="mt-2 comment-btn btn btn-gradient-01">Gửi bình luận</button>
            <% }else{%>
            <a href="/users/login" class="mt-2 btn btn-block btn-success">Đăng nhập để bình luận !</a>
            <% } %>

        </div>

        <h2 class="m-0 p-0 col-md-8 col-xl-8 mt-3 text-dark mb-2 font-weight-bold">
            Danh sách bình luận
        </h2>
        <div class="m-0 p-0 col-md-8 col-xl-8 comment-wrapper" data-offset="1">
            <% if(post.Comments.length <= 0){ %>
            <p class="comment-status">Hãy trở thành người đầu tiên bình luận !!!</p>
            <% } %>
            <% post.Comments.forEach(comment => { %>
            <% commentDate = comment.commentDate.getDate() + '/'  + parseInt( comment.commentDate.getMonth()+1)  + '/' +  comment.commentDate.getFullYear() %>
            <div class="comment mb-4 ml-1">
                <p class="m-0 ">
                    <span class="text-secondary font-weight-bold"><%= comment.User.username %></span>
                    <span class="text-gray font-italic ml-2"><%= commentDate %></span>
                </p>
                <p class="m-0 content comment-content text-dark">
                    <%= comment.commentContent.substring(0,240) %>
                    <% if(comment.commentContent.length >= 240){ %>
                    <a class="m-0 p-0 ml-1 font-italic text-info seemore-btn" href='/#'>...xem thêm</a>
                    <% } %>
                </p>
                <p class="full-comment" style="display:none;"><%= comment.commentContent %></p>
            </div>
            <% }); %>
        </div>
        <div class="m-0 btn-area p-0 col-md-8 col-xl-8">
            <% if(post.Comments.length > 0){%>
            <button type="button" class="btn btn-block  btn-gradient-01 load-more-comment-btn custom-btn">Tải thêm bình
                luận</button>
            <% } %>

        </div>
    </div>
    <hr>

</div> -->
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 m-0 p-0">
            <h1 class="font-weight-light text-dark">Tin tức liên quan</h1>
            <div class="owl-carousel  post-detai-recommend">
                <% for(var i=0;i < randomPostsWithSameCategory.length ;i++){ %>
                <div class="item">
                    <img src="/assets/img/posts/<%= randomPostsWithSameCategory[i].thumbnail %>" alt="..."
                        class="float-right owl-thumbnail mb-2">
                    <a href="/posts/detail/<%= randomPostsWithSameCategory[i].slug %>">
                        <div class="text-dark font-weight-bold">
                            <%= randomPostsWithSameCategory[i].title.length >= 40 ? randomPostsWithSameCategory[i].title.substring(0,40) + '...' : randomPostsWithSameCategory[i].title %>
                        </div>
                    </a>

                    <%= parseVIDate(randomPostsWithSameCategory[i].releaseDate) %> &emsp;
                    <a
                        href="/posts/<%= randomPostsWithSameCategory[i].MainCategory.slug + '/' + randomPostsWithSameCategory[i].SubCategory.slug %>/1">
                        <span class="text-gray font-weight-bold">
                            <%= randomPostsWithSameCategory[i].SubCategory.name %>
                        </span>
                    </a>

                </div>
                <% }%>
            </div>
        </div>
        <div class="col-xl-12 col-md-12 m-0 p-0 mt-5 ">
            <h1 class="font-weight-light text-dark">Các tin khác</h1>
            <div class="owl-carousel post-detai-recommend">
                <% for(var i=0;i < randomPosts.length ;i++){ %>
                <div class="item">
                    <img src="/assets/img/posts/<%= randomPosts[i].thumbnail %>" alt="..."
                        class="float-right owl-thumbnail mb-2">
                    <a href="/posts/detail/<%= randomPosts[i].slug %>">
                        <div class="text-dark font-weight-bold">
                            <%= randomPosts[i].title.length >= 40 ? randomPosts[i].title.substring(0,40) + '...' : randomPosts[i].title %>
                        </div>
                    </a>

                    <%= parseVIDate(randomPosts[i].releaseDate) %> &emsp;
                    <a href="/posts/<%= randomPosts[i].MainCategory.slug + '/' + randomPosts[i].SubCategory.slug %>/1">
                        <span class="text-gray font-weight-bold">
                            <%= randomPosts[i].SubCategory.name %>
                        </span>
                    </a>

                </div>
                <% }%>
            </div>
        </div>
    </div>
</div>

<div id="modal-large" class="modal fade">
    <div class="modal-dialog modal-lg">
        <img width="100%" src="/assets/img/posts/<%= post.thumbnail %>" />
    </div>
</div>