<% if(posts.length <= 0){ %>
<div class="content-inner boxed mt-4 w-100" style="min-height:800px;">
    <div class="container">
        <h1 class="mt-2 text-center">Không có dữ liệu</h1>
    </div>
</div>

<% }else{ %>



<%  
    var today = new Date();
    var day = today.getDay() === 7 ? 'Chủ nhật' : 'Thứ ' + parseInt(today.getDay() + 1);
    var date = today.getDate();
    var month = today.getMonth() + 1;
    var year = today.getFullYear();
    today = `${day}, ngày ${date}, tháng ${month}, năm ${year}`;

    var title = '';
    var mainName = '';
    var mainSlug = '';
    var subName = '';
    var subSlug = '';
    var tagName = '';
    var tagSlug = '';
    var isShowMain = false;
    var isShowSub = false;
    var isShowTag = false;
    var pageHref = '';
    if(maincate){
        isShowMain = true;
        if(maincate === 'all'){
           
            title = 'Tất cả bài viết';
            mainName = 'Tất cả bài viết';
            mainSlug = 'all';
            pageHref = '/posts/all';
        }else{
            title = posts[0].MainCategory.name;
            mainName = posts[0].MainCategory.name;
            mainSlug = posts[0].MainCategory.slug;
            pageHref = '/posts/' + posts[0].MainCategory.slug;
            if(subcate){
                isShowSub = true;
                subName = posts[0].SubCategory.name;
                subSlug = posts[0].SubCategory.slug;
                pageHref = '/posts/' + posts[0].MainCategory.slug + '/' + posts[0].SubCategory.slug
            }
        }
    }else if(tag){
        isShowTag = true;
        tagName =  posts[0].Tags.find(t => t.slug === tag).name;
        tagSlug = posts[0].Tags.find(t => t.slug === tag).slug;
        pageHref = '/posts/' + tagSlug
    }
     
%>


<div class="content-inner boxed mt-4 w-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-8 col-xl-8">
                        <% if(isShowMain){ %>
                        <h2 class="float-left font-weight-light ml-2">
                            <a href="/posts/<%= mainSlug %>/1">
                                <%= mainName %>
                            </a>
                            <% if(isShowSub){ %>
                            <%- subName.length > 0 ? '<span class="text-primary">/</span>' : '' %>
                            <a href="/posts/<%= subSlug %>/1">
                                <%= subName %>
                            </a>
                            <% } %>
                            <% }else if(isShowTag){ %>
                            <h2 class=" float-left font-weight-light ml-2">
                                Tags:
                                <a href="/posts/<%= tagSlug %>/1">
                                    <%= tagName %>
                                </a>
                            </h2>
                            <% } %>


                        </h2>

                        <% if(typeof user !== 'undefined' && (user.role === 'admin' || user.role === 'writer')){ %>
                            <a class="btn btn-gradient-01 float-right mr-3" href="/writers/posts/add">Viết bài</a>
                        <% } %>
                        
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <p class="font-italic float-left text-dark">
                            <%= today %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xl-8 col-md-8 ">
                        <div class="row">
                            <% if(posts.length <= 0){%>
                            <h3 class="text-dark col-xl-12 col-md-12">Không có dữ liệu</h3>
                            <% }else{%>

                            <% posts.forEach(p => { %>

                            <div class="m-0 p-0 col-xl-12 col-md-12">
                                <div class="widget-04 widget-body p-0 widget-mb-0">
                                    <div class="post-container">
                                        <div class="media">
                                            <!-- <div class="media-left mt-3 user">
                                                <a href="pages-profile.html"><img src="/assets/img/avatar/avatar-07.jpg"
                                                        class="rounded-circle" alt="..."></a>
                                            </div> -->
                                            <div class="media-body align-self-center ml-3">
                                                <h2 class="font-weight-bold float-left mr-2">
                                                    <a href="/posts/detail/<%= p.slug %>"><%= p.title %></a>
                                                </h2>
                                                <% p.Tags.forEach(t => { %>
                                                <a href="/posts/tags/<%= t.slug %>/1"
                                                    class="btn btn-sm btn-square mr-1 mb-2 btn-tag-style"><%= t.name %></a>
                                                <% }); %>
                                                <h5 class="pr-5 mt-3"><%= p.shortContent %></h5>
                                                <div class="mt-1">
                                                    posted by <a href="#"><span
                                                            class="username"><%= p.User.username %></span></a>
                                                </div>
                                                <div class="time">42 min ago</div>
                                            </div>
                                            <div class="media-right align-self-center">
                                                <img src="/assets/img/posts/<%= p.thumbnail %>"
                                                    class="post-list-thumbnail" alt="...">
                                            </div>
                                        </div>
                                        <!-- <img src="/assets/img/background/01.jpg" alt="..." class="img-fluid"> -->
                                        <div class="col no-padding d-flex justify-content-start mt-2">
                                            <div class="meta  pl-2">
                                                <ul>
                                                    <li><i class="la la-eye"></i><span
                                                            class="numb"><%= p.views %></span>
                                                    </li>
                                                    <li><i class="la la-comment"></i><span class="numb">38</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                            <% }%>
                        </div>

                        <% if(posts.length > 0){ %>
                        <nav aria-label="">
                            <ul class="pagination justify-content-center">

                                <li class="page-item <%= parseInt(page) <= 1 ? 'custom-page-disabled' : ''  %>">
                                    <a class="page-link" href="<%= pageHref %>/1">First</a>
                                </li>

                                <li class="page-item <%= parseInt(page) <= 1 ? 'custom-page-disabled' : ''  %> ">
                                    <a class="page-link" href="<%= pageHref %>/<%= (parseInt(page)-1) %>"" >Prev</a>
                                </li>

                                <% if(pagination.align === 'right' || pagination.align === "middle"){ %>
                                <li class=" page-item custom-page-disabled">
                                        <a class="page-link font-weight-bold">. . .</a>
                                </li>
                                <% } %>

                                <% pagination.pages.forEach(_p => { %>
                                <li class="page-item <%= page.toString() === _p.toString() ? 'page-active' : '' %>">
                                    <a href="<%= pageHref + '/' + _p %>"
                                        class="page-link <%= page.toString() === _p.toString() ? 'text-white' : '' %>"><%= _p %></a>
                                </li>
                                <% }); %>
                                <% if(pagination.align === 'left' || pagination.align === "middle"){ %>
                                <li class="page-item custom-page-disabled">
                                    <a class="page-link font-weight-bold">. . .</a>
                                </li>
                                <% } %>
                                <li
                                    class="page-item <%= parseInt(page) >= pagination.lastPage  ? 'custom-page-disabled' : ''  %>">
                                    <a class="page-link " href="<%= pageHref %>/<%= (parseInt(page)+1) %>">Next</a>
                                </li>
                                <li
                                    class="page-item <%= parseInt(page) >= pagination.lastPage  ? 'custom-page-disabled' : ''  %>">
                                    <a class="page-link" href="<%= pageHref %>/<%= pagination.lastPage %>">Last</a>
                                </li>
                            </ul>
                        </nav>
                        <% } %>
                    </div>
                    <div class="col-xl-4 col-md-4 ml-auto">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 mb-3 ">
                                <h2 class="col-xl-12 col-md-12 col-sm-12m-0 p-0 mb-3">Mới cập nhật</h2>
                                <div class="row">
                                    <% for(var i=0;i < latestPosts.length ;i++){ %>
                                    <div class="col-xl-12 col-md-3 col-sm-4">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-12 col-md-12">
                                                <img src="/assets/img/posts/<%= latestPosts[i].thumbnail %>" alt="..."
                                                    class="bottom-right-thumbmail float-left">
                                            </div>
                                            <div class="col-xl-9 col-md-12 col-sm-12 mb-3">
                                                <div class="text-default-color font-weight-bold">
                                                    <%= latestPosts[i].title.length >= 50
                                                         ?  latestPosts[i].title.substring(0,50) + '...'
                                                         :  latestPosts[i].title
                                                         %>
                                                </div>
                                                <div class="text-gray small-text">

                                                    <%=  latestPosts[i].SubCategory.name %>
                                                    &nbsp;
                                                    <%= parseVIDate(latestPosts[i].releaseDate) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12 col-sm-12 mb-3 mt-3">
                                <h2 class="col-xl-12 col-md-12 col-sm-12m-0 p-0 mb-3">Tin tức nổi bật</h2>
                                <div class="row">
                                    <% for(var i=0;i < mostViewsPosts.length ;i++){ %>
                                    <div class="col-xl-12 col-md-3 col-sm-4">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-12 col-md-12">
                                                <img src="/assets/img/posts/<%= mostViewsPosts[i].thumbnail %>"
                                                    alt="..." class="bottom-right-thumbmail float-left">
                                            </div>
                                            <div class="col-xl-9 col-md-12 col-sm-12 mb-3">
                                                <div class="text-default-color font-weight-bold">
                                                    <%= mostViewsPosts[i].title.length >= 50
                                                     ?  mostViewsPosts[i].title.substring(0,50) + '...'
                                                     :  mostViewsPosts[i].title
                                                     %>
                                                </div>
                                                <div class="text-gray small-text">

                                                    <%=  mostViewsPosts[i].SubCategory.name %>
                                                    &nbsp;
                                                    <%= parseVIDate(mostViewsPosts[i].releaseDate) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<% } %>