<div class="content-inner boxed mt-4 w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="page-header-title ml-2 mt-3">Tất cả bài viết</h2>
                <a class="btn btn-gradient-01 float-right mr-3" href="#">Viết bài</a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 ml-2 form-group">
                        <div class="input-group">
                            <span class="input-group-addon addon-primary">
                                <i class="ti ti-search mt-2"></i>
                            </span>
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-row ">
                <div class="col-md-8">
                    <div class="row">
                        <% posts.forEach(p => { %>
                        <div class="col-xl-12 col-md-12">
                            <div class="widget-04 widget-body p-0 widget-mb-0">
                                <div class="post-container">
                                    <div class="media">
                                        <div class="media-left mt-3 user">
                                            <a href="pages-profile.html"><img src="/assets/img/avatar/avatar-07.jpg"
                                                    class="rounded-circle" alt="..."></a>
                                        </div>
                                        <div class="media-body align-self-center ml-3">
                                            <h2 class="font-weight-bold float-left mr-2">
                                                <a href="#"><%= p.title %></a>
                                            </h2>
                                            <% p.tags.forEach(t => { %>
                                            <button type="button"
                                                class="btn btn-sm btn-square mr-1 mb-2 btn-tag-style"><%= t %></button>
                                            <% }); %>
                                            <h5 class="pr-5 mt-3"><%= p.shortContent %></h5>
                                            <div class="mt-1">
                                                posted by <a href="#"><span
                                                        class="username"><%= p.username %></span></a>
                                            </div>
                                            <div class="time">42 min ago</div>
                                        </div>
                                        <div class="media-right align-self-center">
                                            <img src="/assets/img/background/casau.jpg" class="post-list-thumbnail" alt="...">
                                        </div>
                                    </div>
                                    <!-- <img src="/assets/img/background/01.jpg" alt="..." class="img-fluid"> -->
                                    <div class="col no-padding d-flex justify-content-start mt-2">
                                        <div class="meta ml-5 pl-2">
                                            <ul>
                                                <li><i class="la la-eye"></i><span class="numb"><%= p.views %></span>
                                                </li>
                                                <li><i class="la la-comment"></i><span class="numb">38</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="accordion-right" class="accordion">
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h2 class="font-weight-bold">Top posts</h2>

                            </div>
                            <% topPosts.forEach((p,index) => { %>
                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse"
                                href="#RightcollapseTwo">
                                <div class="card-title w-100"><%= index+1 %>. <%= p.title %>?</div>
                            </a>
                            <% }); %>
                        </div>

                    </div>

                    <div id="accordion-right" class="accordion">
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h2 class="font-weight-bold">Hot tags</h2>

                            </div>
                            <div class="pl-4 pb-1">
                                <% hotTags.forEach(t => { %>
                                <button type="button"
                                    class="btn btn-sm btn-square mr-1 mb-2 btn-tag-style"><%= t %></button>
                                <% }); %>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>